<h1>Editing Line Item</h1>


<%= form_tag line_item_path, :method => 'patch' do %>
    <%= label_tag 'Produto:' %>
    <%= @line_item.product.nome %><br>
    <%= label_tag 'Quantidade:' %><br>
    <%= text_field_tag :quantity, @line_item.quantity%><br><br>
    <%= submit_tag 'Atualizar Carrinho' %>
<% end %>

<%= link_to 'Back', line_items_path %>
